<div class="container">
<div>
<div class="header">
  <div>
  <%= link_to "Back", groups_path, class: "back-btn" %>
</div>
  <h1>
    New group
  </h1>
</div>

<%= render "form", group: @group %>

<br>
</div>
