<div class="splash-container">
  <div></div>


  <div class="logo-container">
    <h3>Transacation</h3>
  </div>


  <div class="auth-btn">
    <%= link_to 'Log in'.html_safe, new_user_session_path, class: 'log-in-btn' %>
    <%= link_to 'Sign up', new_user_registration_path,  class: 'sign-up-btn' %> 
  </div>
</div>